body {
	background-color: powderBlue;
	font-family: 'Press Start 2P', cursive;
	display: flex;
	flex-flow: column wrap;
}

canvas {
/*	border: 1px dotted black;*/
	position: relative;
	z-index: -1;
}

b {
	color: red;
}

#header {
	display: flex;
	flex-direction: column;
}

#go {
	font-size: 60px;
	position: fixed;
	padding-left: 500px; 
	z-index: 1;
	color: red;
}

#title {
	height: 100px;
}

#how-to {
	display: flex;
	flex-direction: column;
	position: fixed;
	z-index: 1;
	padding: 0px 50px 50px 500px;

}

#loadingImg {
	position: fixed;
	z-index: 0;
	padding-left: 100px;
}

div {
	display: flex;
	justify-content: center;
}

#buttons {
	display: flex;
	justify-content: space-around;
}

#screen {
	display: flex;
	justify-content: left;
}

#type-zone {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	z-index: 1;
}

h2{
	text-align: center;
}

input {
	height: 40px;
	width: 1000px;
	font-size: 35pt;
	text-align: center;
}